<!DOCTYPE html>
<html>
<head>
  <title>Therapy Session Data Review</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div id="app">
    <h1>Therapy Sessions Data Revision and Assignment</h1>

    <div class="wide-form">
      <h2>Please enter the therapy session data</h2>
      <form @submit.prevent="saveNewMessage">
        <label>Type:</label>
        <select v-model="newMessage.type">
          <option value="therapist">Therapist</option>
          <option value="patient">Patient</option>
        </select>
        <label>Message:</label>
        <textarea rows="1" v-model="newMessage.messageText"></textarea>
        <label>Codes (separated by commas):</label>
        <textarea rows="1" v-model="newMessage.codes"></textarea>
        <br>
        <button class="save-button" type="submit">Save</button>
        <button class="action-button" @click="addNewMessage">Add</button>
        <button class="action-button" @click="editNewMessage">Edit</button>
        <button class="action-button" @click="deleteNewMessage">Delete</button>
        <br>
        <br>
        <br>
      </form>
    </div>

    <div class="message" v-for="(message, index) in messages" :key="index">
      <span v-if="message.type === 'therapist'" class="therapist">Therapist:</span>
      <span v-else-if="message.type === 'patient'" class="patient">Patient:</span>
      {{ message.messageText }}
      <div class="codes">
        <span v-for="code in message.codes" :key="code" class="code">{{ code }}</span>
      </div>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        messages: [],
        newMessage: {
          type: 'therapist',
          messageText: '',
          codes: ''
        },
        editingNewMessage: false
      },
      methods: {
        async saveNewMessage() {
          if (this.editingNewMessage) {
            // Editing existing message
            // Make a PUT request to update the message
            const response = await fetch(`/api/messages/${index}`, {
              method: 'PUT',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(this.newMessage)
            });
            if (response.ok) {
              // Update the message in the frontend
              this.messages[index] = this.newMessage;
            }
          } else {
            // Adding new message
            // Make a POST request to create a new message
            const response = await fetch('/api/messages', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(this.newMessage)
            });
            if (response.ok) {
              // Add the new message to the frontend
              const createdMessage = await response.json();
              this.messages.unshift(createdMessage);
            }
          }

          this.resetNewMessageForm();
        },

        resetNewMessageForm() {
          this.editingNewMessage = false;
          this.newMessage.type = 'therapist';
          this.newMessage.messageText = '';
          this.newMessage.codes = '';
        },

        async addNewMessage() {
          // Set the new message form for adding a message
          this.resetNewMessageForm();
        },

        async editNewMessage(index) {
          // Set the new message form for editing an existing message
          this.editingNewMessage = true;
          this.newMessage.type = this.messages[index].type;
          this.newMessage.messageText = this.messages[index].messageText;
          this.newMessage.codes = this.messages[index].codes.join(', ');
        },

        async deleteNewMessage(index) {
          // Make a DELETE request to delete the message
          const response = await fetch(`/api/messages/${index}`, {
            method: 'DELETE'
          });
          if (response.ok) {
            // Remove the message from the frontend
            this.messages.splice(index, 1);
          }
        }
      },
      mounted() {
        // Retrieve existing messages from the backend
        fetch('/api/messages')
          .then(response => response.json())
          .then(data => {
            this.messages = data;
          });
      }
    });
  </script>
</body>
</html>
